
```{=html}

<%
  // Group items by category
  const itemsByCategory = {};
  for (const item of items) {
    if (!itemsByCategory[item.category]) {
      itemsByCategory[item.category] = [];
    }
    itemsByCategory[item.category].push(item);
  }
%>

<% for (const category in itemsByCategory) { %>
  <h2 style="margin-top:0px;"><%= category %></h2>
  <ul class="list">
    <% for (const item of itemsByCategory[category]) { %>
      <li <%= metadataAttrs(item) %>>
        <a href="<%- item.href %>" class="listing-name"><%= item.name %></a><br/>
        <span class="listing-custom-field"><%= item['custom-field'] %></span>
      </li>
    <% } %>
  </ul>
<% } %>


```